<div class="container p-4">
  <h1>{{type | uppercase}} - Pagina de adaugare</h1>
  <hr/>

  <div *ngIf="successMessage" class="alert alert-success mt-3">

    <div>
      {{successMessage}}
    </div>

  </div>

  <form #form="ngForm">
    <div class="form-group" *ngIf="itsAnIndustry()">
      <label for="name">Nume</label>
      <input [(ngModel)]="name" type="text" id="name" class="form-control" name="name" placeholder="Nume"/>
    </div>

    <div class="form-group" *ngIf="itsAnIndustry()">
      <label for="shortName">Prescurtare</label>
      <input [(ngModel)]="shortName" type="text" id="shortName" class="form-control" name="shortName" placeholder="Prescurtare"/>
    </div>

    <div class="form-row" *ngIf="itsATalent() || itsAnImpresario()">
      <div class="form-group col-md-6">
        <label for="firstName">Prenume</label>
        <input [(ngModel)]="firstName" type="text" id="firstName" class="form-control" name="firstName"
               placeholder="Prenume"/>
      </div>

      <div class="form-group col-md-6">
        <label for="lastName">Nume</label>
        <input [(ngModel)]="lastName" type="text" id="lastName" class="form-control" name="lastName"
               placeholder="Nume"/>
      </div>
    </div>

    <div class="form-row" *ngIf="itsATalent() || itsAnImpresario()">
      <div class="form-group col-md-4">
        <label for="phone">Telefon</label>
        <input [(ngModel)]="phone" type="text" id="phone" class="form-control" name="phone" placeholder="Telefon"/>
      </div>

      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input [(ngModel)]="email" type="text" id="email" class="form-control" name="email" placeholder="Email"/>
      </div>

      <div class="form-group col-md-4">
        <label for="age">Varsta</label>
        <input [(ngModel)]="age" type="text" id="age" class="form-control" name="age" placeholder="Varsta"/>
      </div>
    </div>

    <div class="form-group" *ngIf="itsATalent()">
      <label for="gender">Domeniu</label>
      <select [(ngModel)]="domain" class="form-control" id="domain" name="domain">
        <option *ngFor="let domain of domains">{{domain}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="itsATalent()">
      <label for="gender">Tipul</label>
      <select [(ngModel)]="gender" class="form-control" id="gender" name="gender">
        <option *ngFor="let gender of genders">{{gender}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="itsATalent() || itsAnIndustry()">
      <label for="description">Descriere</label>
      <textarea [(ngModel)]="description" class="form-control" id="description" name="description"
                placeholder="Descriere"></textarea>
    </div>

    <div class="form-group" *ngIf="itsAnIndustry()">
      <label for="shortDescription">Scurta Descriere</label>
      <textarea [(ngModel)]="shortDescription" class="form-control" id="shortDescription" name="shortDescription"
                placeholder="Scruta descriere"></textarea>
    </div>

    <div class="form-row" *ngIf="itsATalent()">
      <div class="form-group col-md-12">
        <label for="impresario">Impresar</label>
        <select [(ngModel)]="impresario" class="form-control" id="impresario" name="impresario">
          <option *ngFor="let entry of impresarios" value="{{entry.id}}">{{entry.lastName}} {{entry.firstName}}</option>
        </select>
      </div>
    </div>

    <div class="form-row" *ngIf="itsAnImpresario()">
      <div class="form-group col-md-12">
        <label for="industry">Industrie</label>
        <select [(ngModel)]="industry" class="form-control" id="industry" name="industry">
          <option *ngFor="let entry of industries" value="{{entry.id}}">{{entry.name}}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit(form.value)">Submit</button>
  </form>
</div>
