<div class="row p-3">
  <div class="col-12">
    <h1>Artisti</h1>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Varsta</th>
        <th scope="col">Domeniu</th>
        <th scope="col">Tip</th>
        <th scope="col">Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let talent of content">
        <th scope="row">{{talent.id}}</th>
        <td>{{talent.firstName}}</td>
        <td>{{talent.lastName}}</td>
        <td>{{talent.phone}}</td>
        <td>{{talent.email}}</td>
        <td>{{talent.age}}</td>
        <td>{{talent.domain}}</td>
        <td>{{talent.gender}}</td>
        <td>
          <div class="row">
            <div class="col-3">
              <a routerLink="/dashboard/edit/talent/{{talent.id}}"><i class="fa fa-edit"></i></a>
            </div>
            <div class="col-3">
              <a href="/dashboard/remove/talent/{{talent.id}}"><i class="fa fa-remove"></i></a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
