<div class="container-fluid bg-dark p-3">
  <div class="container">
    <div class="row mb-2">
      <div class="col-12">
        <img class="card-img" src="../assets/header-image.jpg"/>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul class="navbar-nav mr-auto">
            <li *ngFor="let item of menuItems" class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="item.route">{{item.name}}</a>
            </li>
          </ul>

          <a class="navbar-brand" href="/dashboard">Impresarul Web App</a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="bg-light">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <div class="footer-copyright bg-light">
          <p class="p-1 text-center">Cazacu Tudor Laurentiu, Licenta 2018</p>
        </div>
      </div>
    </div>
  </div>
</div>
